<template>
    <div data-lkt="carousel">
        <carousel
            v-bind:settings="settings"
            v-bind:breakpoints="breakpoints"
            v-bind:autoplay="autoplay"
            v-bind:wrap-around="true"
        >
            <slide v-for="(_, slide) in slides" :key="slide">
                <div data-lkt="slide"><slot v-bind:name="'slide-' + slide"></slot></div>
            </slide>

            <template #addons="{ slidesCount }">
                <navigation v-if="showNavigation && slidesCount > 1"/>
                <pagination v-if="showPagination && slidesCount > 1"/>
            </template>
        </carousel>
    </div>
</template>

<script lang="ts">
import {Carousel, Navigation, Pagination, Slide} from 'vue3-carousel';
import {getSlots, ILktObject} from "lkt-tools";

export default {
    name: "LktCarousel",
    components: {Carousel, Navigation, Pagination, Slide},
    props: {
        showNavigation: {type: Boolean, default: false},
        showPagination: {type: Boolean, default: false},
        itemsToShow: {type: Number, default: 1},
        autoplay: {type: Number, default: 0},
        snapAlign: {type: String, default: 'center'},
        breakpoints: {
            type: Object, default: (): ILktObject => {
                return {}
            },
        },
    },
    computed: {
        settings(): ILktObject {
            return {
                itemsToShow: this.itemsToShow,
                snapAlign: this.snapAlign,
            };
        },
        slides() {
            return getSlots(this.$slots, 'slide-');
        }
    }
}
</script>